body {
	background-color: rgb(95,96,94);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.title {
	margin-bottom: 0;
	margin-top: .5rem;
}

.title span,
.rule p {
	color: rgb(244,200,200);
}
.rule {
 	line-height: 1rem;
 	text-align: center;
}
.rule p:first-letter,
.rule span {
    color: rgb(192,192,192);
    font-size: 1.15rem;
    font-weight: bold;
}
.rule a {
	color: black;
	font-weight: 700;
}

.messageToPlayer {
	font-weight: bold;
	color: rgb(50,50,50);
}

.messageSuccess {
	color: green;
	font-weight: bold;
}

.messageFail {
	color: red;
	font-weight: bold;
}

.rule p {
 	font-size: 1.25rem;
}
.GamePannel {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 20rem;
	height: auto;
	background-color: rgba(255,255,255, 0.4);
	border-radius: 2rem;
}
.colorPannel {
	display: flex;
	flex-direction: column;
	width: 80%;
	height: auto;
	align-items: center;
	margin-bottom: 1rem;
}

.colorToFindDiv, 
.colorCreatedByPlayer {
	width: 4rem;
	height: 4rem;
	border: 1px solid black;
}
.colorPannelPlayer {
	display: none;
}
.answerDiv {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.answerDiv label {
	align-self: center;
	margin-right: -2rem;
}

.colorValue {
	max-width: 2.8rem;
	font-size: 1.5rem;
	color: rgb(100,100,100);
}

#red {
	background-color: rgb(255,100,100);
}
#green {
	background-color: rgb(100,200,100);
}
#blue {
	background-color: rgb(100,150,255);
}

#buttonStart {
	background-color: rgb(175, 175, 188);
	width: 5rem;
	height: 3rem;
	margin-bottom: 2rem;
}

#buttonTry {
	width: 4rem;
	height: 2.5rem;
	background-color: rgb(244,200,200);
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.button {
	color: black;
	border: none;
	border-radius: .5rem;
}
